<form action="/add", method="POST">
            <p>Valor na Carteira</p>
            
            <p>Valor Gasto: </p>
            <input type="number", name="ValorGasto">
            <button>Realizar Transação</button>
        </form>